.contenedor-quienes-somos{
  margin-top: 4rem;
}

.quienes-somos-top {
  display: flex;
  justify-content: space-evenly;
}

.contenido {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-image: url("../../../assets/fondo-espantapajaros.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contenido p {
  width: 90%;
  justify-content: center;
  text-align: justify;
  font-size: 1.4em;
}

.contenedor-img{
  width: 30vw;
}

.img-osvaldoMaria {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.quienes-somos-center {
  background-image: url("../../../assets/fondo-sierras.png");
  background-size: contain;
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
  display: flex;
  margin-top: 5rem;
  align-items:top;
  min-height: 30vh;
  justify-content: space-evenly;
}

.quienes-somos-center div {
  width: 21vw;
  text-align: center;
}

.quienes-somos-center div p{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.quienes-somos-buttom {
  padding: 0 9vw;
  
}

.etiquetas {
  display: flex;
}

.img-etiquetas {
  width: 100%;
  height: 100%;
}

.etiquetas-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.etiquetas-text div p{
  text-align: justify;
  font-size: 1.4em;
}

.etiquetas-text div {
  width: 80%;
  text-align: center;
}

.etiquetasImg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Para centrar el contenido de los elementos */
}

.etiquetasImg div {
  margin: 0 10px; /* Ajusta el margen entre los elementos según tus preferencias */
}

.etiquetasBotellas{
  margin: 4rem 0;
  text-align: center;
}