.contenedor-quienes-somos {
  margin: 2em 2em 0 0;
}

.quienes-somos-top {
  display: flex;
  justify-content: space-evenly;
}

.contenido {
  margin: 0 0 0 6em;
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-image: url("../../../assets/fondo-espantapajaros.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contenido p {
  width: 100%;
  justify-content: center;
  text-align: left;
  font-size: 1.4em;
}

.contenedor-img {
  width: auto;
  min-height: max-content;
}

.img-osvaldoMaria {
  border-radius: 12px;
}

.quienes-somos-buttom {
  padding: 0 9vw;
}

.etiquetas-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.etiquetas-text div p {
  text-align: left;
  font-size: 1.4em;
}

.etiquetas-text div {
  width: 100%;
  text-align: center;
}

.etiquetasImg {
  margin: 3em 0 3em 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: auto;
}

.etiquetasImg div {
  margin: 0 10px;
}

.etiquetasImg div div img {
  align-items: flex-end;
  box-shadow: 5px 5px 5px grey;
}

.etiquetasBotellas {
  margin: 4rem 0;
  text-align: center;
}

.etiquetasBotellas div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.etiquetasBotellas div img {
  box-shadow: 5px 5px 5px grey;
}

.galeriaQuienesSomos {
  display: flex;
  justify-content: space-between;
  margin: 2em 6em 2em 0;
}

.galeriaQuienesSomos div p {
  font-size: 1em;
  padding-left: 1.6em;
}

.imagen-quienesSomos {
  flex: 1;
  max-width: 80%;
  margin: 5px;
  border-radius: 8px;
}

.imagen-quienesSomos:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .contenedor-quienes-somos {
    padding-left: 1em;
  }
  .contenido {
    width: 90vw;
    font-size: xx-small;
    align-items: center;
    margin: auto;
  }
  .contenido h1, .etiquetas-text div h2 {
    font-size: 3em;
  }
  .contenido p, .etiquetas-text div p, .etiquetasImg h3, .etiquetasImg p, .etiquetasBotellas p, .galeriaQuienesSomos p {
    font-size: 2em;
  }
  .contenedor-img {
    margin-left: 1em;
  }
  .quienes-somos-top, .etiquetasImg {
  flex-direction: column;
  }
  .quienes-somos-buttom{
    width: 90vw;
    font-size: xx-small;
    padding: 0;
    margin: auto;
  }
  .img-etiquetas {
    display: none;
  }
  .etiquetasImg div{
    margin: 1em 1em 1em 0;
  }
  .etiquetas-text{
    align-items: center;
  }
  .etiquetasBotellas, .etiquetasBotellas div, .contenedor-img img, .etiquetasImg div div img {
    width: 100%;
  }
  .etiquetasBotellas div {
    flex-direction: column;
  }
  .etiquetasBotellas div img {
    margin: 1em auto;
  }
  .galeriaQuienesSomos{
    margin: 2em 0;
    flex-direction: column;
  }
  .galeriaQuienesSomos div {
    margin: auto;
    width: 80%;
  }
  .galeriaQuienesSomos div p {
    text-align: center;
    margin-right: 1em;
  }
  .imagen-quienesSomos {
    max-width: 100%;
  }
}
