.navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: black;
}
.secciones {
  width: 50%;
  display: flex;
  justify-content: center;
}

.secciones a {
  text-decoration: none;
  color: black;
  margin: 2rem;
}

.secciones p {
  display: flex;
  align-items: center;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
}

.redes {
  width: 25%;
  display: flex;
  justify-content: center;
}

.logo-img{
  width: 18rem;
}

.logo-redes{
  width: 2rem;
}

.active{
  font-weight:bold;
}