.card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-family: "Trade Gothic LT Std Light";
}
.card h2{
    width: max-content;
    padding-right: 1em;
}
.cardImg{
    width: 7%;
}
.cardImg img{
    padding-left: 3em;
    width: 15%;
}
.trash{
    width: 2%;
    padding-left: 1em;
}

@media screen and (max-width: 768px) {
    .trash{
        width: 10%;
    }
    .card h2{
        font-size: small;
    }
    .card{
        justify-content: space-between;
        margin-bottom: 20px;
    }
}