.contenedor{
    max-width: 50%;
    padding: 2rem;
}
.contenedor h1{
    text-align: start;
}
.contenedor p{
    font-family: "Trade Gothic LT Std Light";
    text-align: start;
}
h2{
    margin: 0;
    padding: 0 2%;
    font-size: 2rem;
}
.contenedorVinos{
    padding: 2rem;
}