.contenedorVinos{
    width: 100%;
    margin: 3em;
}
.contenedorVinos h2{
    font-size: 2rem;
}
.vinoBotellaImg{
    background-image: url("../../../assets/fondo-criadosenbotella.png");
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.cabernet, .corte{
    width: 15%;
}
.malbec{
    width: 18%;
}