.container-vyb {
  padding: 2vh 10vw 10vh 10vw;
}

.container-vyb h2, .bodega h2, .cava h2 {
  font-size: 2em;
}

.text p {
  font-size: 1.4em;
  text-align: justify;
}

.portada-viñedo {
  display: flex;
}

.portada-viñedo div {
  margin-right: 12px;
}

.imgProyecto {
  width: 39vw;
  height: 40vh;
  border-radius: 8px;
}

.bodega-cont div img {
  height: 80vh;
}

.bodega-img {
  display: flex;
}

.bodega-img div {
  margin-right: 12px;
}

.cava-img {
  display: flex;
}

.cava-img div {
  padding-right: 12px;
}

.cava-img div img {
  width: 19vw;
}

.viñedo-gallery {
  display: flex;
}

.viñedo-gallery div {
  padding-right: 12px;
}

.imgViñedo {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
  height: 50vh; /* Mantiene la proporción de aspecto original de las imágenes */
}

.viñedo-gallery div img {
  width: 19vw;
  border-radius: 8px;
}

.viñedo-gallery div video {
  width: 19vw;
  border-radius: 8px;
}

.embalaje{
  display: flex;
  justify-content: space-between;
}

.embalaje div{
  padding-right: 12px;
}

.embalaje div img{
  width: 19vw;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container-vyb h2{
    font-size: small;
  }
  .text{
    font-size: xx-small;
  }
  .portada-viñedo{
    flex-direction: column;
    align-items: center;
  }
  .portada-viñedo div{
    margin: 0;
  }
  .imgProyecto{
    width: 80vw;
  }
  .text{
    font-size: xx-small;
  }
  .viñedo-gallery{
    flex-direction: column;
  }
  .viñedo-gallery div img{
    width: 80vw;
  }
  .bodega-img{
    flex-direction: column;
  }
  .cava-img{
    flex-direction: column;
  }
  .cava-img div img{
    width: 80vw;
  }
  .embalaje{
    flex-direction: column;
  }
  .embalaje div img{
    width: 80vw;
  }
}