.contenedor-img {
  display: flex;
  justify-content: center;
}

.imgVyB {
  height: 50vh;
  width: 30vw;
  border-radius: 8px;
}

.container-vyb h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.container-vyb{
  margin: 4rem 0;
}

.contenidoVyB {
  display: flex;
  margin: 0 12rem;
  align-items: center;
  justify-content:space-between;
}

.text {
  width: 30vw;
  background-image: url("../../../assets/fondo-cuervo.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size:x-large;
}

.text p {
  text-align: justify;
  font-family: "Trade Gothic LT Std Light";
}