.container-vyb {
  padding: 0 10vw;
}

.text {
  font-size: 1.4em;
  text-align: justify;
}

.portada-viñedo {
  display: flex;
}

.portada-viñedo div {
  margin-right: 12px;
}

.imgProyecto {
  width: 39vw;
  height: 40vh;
  border-radius: 8px;
}

.bodega-cont div img {
  height: 80vh;
}

.bodega-img {
  display: flex;
}

.bodega-img div {
  margin-right: 12px;
}

.cava-img {
  display: flex;
}

.cava-img div {
  padding-right: 12px;
}

.cava-img div img {
  width: 19vw;
}

.viñedo-gallery {
  display: flex;
}

.viñedo-gallery div {
  padding-right: 12px;
}

.viñedo-gallery div img {
  width: 19vw;
  border-radius: 8px;
}
