.home {
  margin-left: 6rem;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-nosotros h2 {
  margin: 2rem 0 0 0;
}

.opciones {
  display: flex;
}

.opciones a {
  margin: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.opciones a p {
  background-color: aqua;
  width: 20rem;
  height: 12rem;
}

.nuestra-cosecha {
  display: flex;
  flex-direction: column;
}

.tit {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.vino img {
  width: 8rem;
  padding-right: 3rem;
  border-right: 3px black solid;
}

.vinos {
    display: flex;
    justify-content: space-around;
}

.vinos p {
  margin: 0;
  text-align: start;
}

.titulo {
    margin: 6rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

/* Media queries para estilos responsive */
@media (max-width: 768px) {
    .home {
      margin-left: 2rem;
    }
  
    .opciones .opcion {
      width: 100%;
    }

    .opciones{
        flex-direction: column;
        align-items: center;
    }
  
    .vinos {
      flex-direction: column;
      align-items: center;
    }
  
    .vino {
      margin-bottom: 1rem;
    }
  }
  