.container-home{
  padding: 0 10vw;
  margin-bottom: 6rem;
}

.contain {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.contain-l{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contain-link a img {
  width: 20rem;
  border-radius: 8px;
}

.home-top {
  width: 20%;
  color: white;
  padding: 2% 5%;
}

.titulo {
  margin-top: 12rem;
  margin-bottom: 2rem;
  padding-left: 12%;
  color: white;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.nuestra-cosecha {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nuestra-cosecha div p {
  margin: 0;
}

.contain-link a img:hover {
  transform: scale(1.05);
}
