.contenedor-sostenibilidad {
  padding: 0 6%;
  background-image: url("../../../assets/fondo-sierras.png");
  background-size: contain;
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
}

.contenedor-sostenibilidad h1{
  text-align: center;
}

.introSust {
  display: flex;
  justify-content: space-between;
}

.introSust p {
  width: 50%;
  margin: 2rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.img img {
  border-right: 3px solid black;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
}

.cont{
    margin: 4rem 0;
}