.contenedor-sostenibilidad {
  padding: 0 6%;
  background-image: url("../../../assets/fondo-sierras.png");
  background-size: contain;
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
}

.contenedor-sostenibilidad h1{
  margin-left: 4rem;
}

.introSust {
  justify-content: space-between;

}

.introSust p {
  width: 38vw;
  margin: 2rem;
  font-size: 1.4em;
  font-family: "Trade Gothic LT Std Light";
  margin-left: 4rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.item img{
  width: 10vw;
}

.item p{
  text-align: center;
  font-weight: bold;
}

.lista {
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
}

.lista li{
  padding: 12px 0;
  font-size: 1.4em;
  font-family: "Trade Gothic LT Std Light";
  text-align: justify;
}

.cont{
    margin: 4rem 0;
}

.galeria {
  display: flex; /* Utilizamos flexbox para alinear las imágenes horizontalmente */
}

.imagen-galeria {
  flex: 1; /* Hace que todas las imágenes tengan el mismo ancho y se expandan para llenar el espacio disponible */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
  width: auto;
  max-width:20vw;
  margin: 5px; /* Agrega margen entre las imágenes (opcional) */
  border-radius: 8px;
  margin-top: 8rem;
}

.imagen-galeria:hover{
  transform: scale(1.05);
}