.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.329);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}
.footer img {
  width: 30%;
}
.redes img {
  width: 2rem;
}
.copyright {
  text-align: center;
  font-family: "Trade Gothic LT Std Light";
}