.detail{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 3em 3em 3em;
}
.detailImg{
    width: 40%;
}
.detailImg img{
    width: 100%;
}
.detailText{
    width: 60%;
}
.detail p{
    font-family: "Trade Gothic LT Std Light";
}
.botones{
    width: 70%;
    display: flex;
}


@media screen and (max-width: 1346px) {
    .detail{
        margin: 0;
    }
    .botones{
        width: 100%;
        flex-direction: column;
    }
    .boton{
        width: 50%;
        margin: 0;
    }
    .boton a{
        margin-bottom: 20px;
    }
}